# set

# duplicates are not allowed
# set will store data in order
# indexing is not allowed

In [2]:
s = {}
type(s)

dict

In [3]:
s1 = set()
type(s1)

set

# add

In [4]:
s1.add(4)

In [5]:
s1

{4}

In [9]:
s1.add(30)
s1

{4, 30}

In [10]:
s1.add(10)
s1.add(100)
s1

{4, 10, 30, 100}

In [15]:
s1.add('a')
s1

{10, 100, 30, 4, 'a'}

In [17]:
s1[0] # indexing is not allowed

TypeError: 'set' object is not subscriptable

In [18]:
s1[:] # slicing is not allowed

TypeError: 'set' object is not subscriptable

In [19]:
s2 = set()

# we can add int complex bool and string data in set

In [24]:
s2.add(10)
s2.add(10.90)
s2.add(1+2j)
s2.add('a')
s2.add('A')
s2.add(True)

In [25]:
s2

{(1+2j), 10, 10.9, 'A', True, 'a'}

In [27]:
print(s1)
print(s2)

{100, 4, 10, 'a', 30}
{True, (1+2j), 10, 10.9, 'a', 'A'}

In [26]:
id(s1) == id(s2)

False

# copy()

In [28]:
s3 = s2.copy()

In [29]:
s3

{(1+2j), 10, 10.9, 'A', True, 'a'}

# pop()
# it will remove random values

In [35]:
s4 = set()
s4.add(10)
s4.add(30)
s4.add(1+2j)
s4.add(True)
s4

{(1+2j), 10, 30, True}

In [36]:
s4.pop()
s4

{(1+2j), 10, 30}

In [37]:
s4.pop()
s4

{(1+2j), 30}

# remove()
# it will remove the specific element what we define

In [38]:
s3

{(1+2j), 10, 10.9, 'A', True, 'a'}

In [39]:
s3.remove((1+2j))
s3

{10, 10.9, 'A', True, 'a'}

# discard()

# if the number is available then it will delete the number or value
# if the value is not available then it will not give any error

In [42]:
s3.discard(1000) # 1000 value does not exists in the set but it will not return any error
s3

{10, 10.9, 'A', True, 'a'}

In [43]:
s3.discard(10)
s3

{10.9, 'A', True, 'a'}

In [44]:
print(s1)
print(s2)
print(s3)
print(s4)

{100, 4, 10, 'a', 30}
{10.9, 'a', 'A'}
{True, 10.9, 'A', 'a'}
{30, (1+2j)}

In [45]:
for i in s1:
    print(i)

100
4
10
a
30

In [46]:
for i in enumerate(s2):
    print(i)

(0, 10.9)
(1, 'a')
(2, 'A')

# set operation

# union()

In [47]:
a = {1,2,3,4,5}
b = {4,5,6,7,8}
c = {8,9,10}

In [49]:
a.union(b) # union will merge and print the repeted value once

{1, 2, 3, 4, 5, 6, 7, 8}

In [52]:
a | c # we can use | this symbol to perform union()

{1, 2, 3, 4, 5, 8, 9, 10}

In [54]:
a | b | c

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

# difference()

In [56]:
a.difference(b) # it will remove the same values and print the set

{1, 2, 3}

In [62]:
print(b - c)
print(a - c)

{4, 5, 6, 7}
{1, 2, 3, 4, 5}