# set

# duplicates are not allowed
# set will store data in order
# indexing is not allowed

In [1]:
s = {}
type(s)

dict

In [2]:
s1 = set()
type(s1)

set

# add

In [3]:
s1.add(4)

In [4]:
s1

{4}

In [5]:
s1.add(30)
s1

{4, 30}

In [6]:
s1.add(10)
s1.add(100)
s1

{4, 10, 30, 100}

In [7]:
s1.add('a')
s1

{10, 100, 30, 4, 'a'}

In [9]:
s1[0] # indexing is not allowed

TypeError: 'set' object is not subscriptable

In [ ]:
s1[:] # slicing is not allowed

TypeError: 'set' object is not subscriptable

In [10]:
s2 = set()

# we can add int complex bool and string data in set

In [11]:
s2.add(10)
s2.add(10.90)
s2.add(1+2j)
s2.add('a')
s2.add('A')
s2.add(True)

In [12]:
s2

{(1+2j), 10, 10.9, 'A', True, 'a'}

In [13]:
print(s1)
print(s2)

{100, 4, 'a', 10, 30}
{True, (1+2j), 'a', 10, 10.9, 'A'}

In [14]:
id(s1) == id(s2)

False

# copy()

In [15]:
s3 = s2.copy()

In [16]:
s3

{(1+2j), 10, 10.9, 'A', True, 'a'}

# pop()
# it will remove random values

In [17]:
s4 = set()
s4.add(10)
s4.add(30)
s4.add(1+2j)
s4.add(True)
s4

{(1+2j), 10, 30, True}

In [18]:
s4.pop()
s4

{(1+2j), 10, 30}

In [19]:
s4.pop()
s4

{(1+2j), 30}

# remove()
# it will remove the specific element what we define

In [20]:
s3

{(1+2j), 10, 10.9, 'A', True, 'a'}

In [21]:
s3.remove((1+2j))
s3

{10, 10.9, 'A', True, 'a'}

# discard()

# if the number is available then it will delete the number or value
# if the value is not available then it will not give any error

In [22]:
s3.discard(1000) # 1000 value does not exists in the set but it will not return any error
s3

{10, 10.9, 'A', True, 'a'}

In [23]:
s3.discard(10)
s3

{10.9, 'A', True, 'a'}

In [24]:
print(s1)
print(s2)
print(s3)
print(s4)

{100, 4, 'a', 10, 30}
{True, (1+2j), 'a', 10, 10.9, 'A'}
{True, 10.9, 'A', 'a'}
{30, (1+2j)}

In [25]:
for i in s1:
    print(i)

100
4
a
10
30

In [26]:
for i in enumerate(s2):
    print(i)

(0, True)
(1, (1+2j))
(2, 'a')
(3, 10)
(4, 10.9)
(5, 'A')

# set operation

# union()

In [27]:
a = {1,2,3,4,5}
b = {4,5,6,7,8}
c = {8,9,10}

In [28]:
a.union(b) # union will merge and print the repeted value once

{1, 2, 3, 4, 5, 6, 7, 8}

In [29]:
a | c # we can use | this symbol to perform union()

{1, 2, 3, 4, 5, 8, 9, 10}

In [30]:
a | b | c

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

# difference()

In [31]:
a.difference(b) # it will remove the same values and print the set

{1, 2, 3}

In [32]:
print(b - c)
print(a - c)

{4, 5, 6, 7}
{1, 2, 3, 4, 5}

In [33]:
print(a)
print(b)
print(c)

{1, 2, 3, 4, 5}
{4, 5, 6, 7, 8}
{8, 9, 10}

# symmetric_difference

In [34]:
a.symmetric_difference(b) # it will remove the common values and print the rest values

{1, 2, 3, 6, 7, 8}

In [35]:
c^a # we can represent semetric difference with ^ this symbol

{1, 2, 3, 4, 5, 8, 9, 10}

In [36]:
a ^ b

{1, 2, 3, 6, 7, 8}

In [37]:
b ^ a

{1, 2, 3, 6, 7, 8}

# symmetric_difference_update()

In [38]:
a.symmetric_difference_update(b) # it will eleminate the common element and add the remaining values making a complete new set

In [39]:
print(a)
print(b)
print(c)

{1, 2, 3, 6, 7, 8}
{4, 5, 6, 7, 8}
{8, 9, 10}

# intersection()

In [40]:
a.intersection(b) # it will print the common values

{6, 7, 8}

In [41]:
b & c # intersection can be performed with & symbol as well

{8}

In [42]:
a & b & c

{8}

# intersection_update()

In [43]:
a.intersection_update(b) # will update the set with the common values

In [44]:
a

{6, 7, 8}

# Subset

In [45]:
A = {1,2,3,4,5,6,7,8,9}
B = {3,4,5,6,7,8}
C = {10,20,30,40}

In [51]:
B.issuperset(A) # Set B is said to be the subset of set A if all elements of B are in A

False

# Superset

In [ ]:
A.issuperset(B) # Set A is said to be the superset of set B if all elements of B are in A

True

# disjoint

In [50]:
C.isdisjoint(A)

True

In [52]:
C.isdisjoint(B)

True

In [53]:
sum(A)

45

In [54]:
list(enumerate(A))

[(0, 1), (1, 2), (2, 3), (3, 4), (4, 5), (5, 6), (6, 7), (7, 8), (8, 9)]

In [55]:
D = sorted(A,reverse=True)
D

[9, 8, 7, 6, 5, 4, 3, 2, 1]